/* Estils generals */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/* Estils de l'aplicació */
.app {
  background-color: #3E0C43; /* Fons púrpura fosc */
  color: white;
  min-height: 100vh;
}

.app-header {
  background-color: #E70467; /* Fons vermell */
  color: #D9D9D9;         /* Text blanc */
  text-align: center;
  padding: 20px;
}

.app-main {
  padding: 20px;
}